#nameMovieInForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 1px;
  }
  #synopsis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
#iframeDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #003cff;
    border-radius: 3px;
    margin: 0 auto;
}
#whatsappButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 3px;
  margin-bottom: 3px;
  font-family: Helvetica;
}
#whatsappButton:hover{
  text-decoration: none;
}
#facebookButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 3px;
  margin-bottom: 3px;
  font-family: 'Segoe UI';
}
#facebookButton:hover{
  text-decoration: none;
}