.divForm{
  background-color: #ffffff;
  width: 640px;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 4px;
}
#nameMovieInForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000000;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    margin-top: 4px;
  }
  #synopsis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin-left: 4px;
    margin-top: 4px;
  }
#iframeDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#whatsappButton{
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 1.5px;
  font-family: Helvetica;
}
#whatsappButton:hover{
  text-decoration: none;
}
#facebookButton{
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 1.5px;
  font-family: 'Segoe UI';
}
#facebookButton:hover{
  text-decoration: none;
}
#share{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
#mini-genres{
  margin-left: 4px;
  color: #ffffff;
}
#mini-movieCardName{
  color: #000000;
  margin: 0 auto;
}
.mini-movie-card-3rd-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 37.5px;
  width: 100px;
  margin: 0 auto;
}
.mini-divAssistirButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: width 1s, height 1s;
  background-color: #ff0000;
}
#mini-assistirButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2.5px;
  color: #000000;
  transition: width 1s, height 1s;
  width: 95%;
}
#mini-assistirButton:hover{
  color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 20px 0px 40px 0px #ffffff;
}

/*effects in mini-moviesc container*/

.mini-movie-card-container{
  width: 107.5px;
  background-color: rgb(255, 255, 255);
  float: left;
  margin-left: 4px;
  border-radius: 8px 8px 8px 8px;
  margin-bottom: 5px;
  position: relative;
}

.mini-image-movie-global {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-left: 0px;
  width: 100%;
  height: 150px;
  border-radius: 8px 8px 0 0;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.mini-movie-card-container:hover .image {
  opacity: 0.3;
}

.mini-movie-card-container:hover .middle {
  opacity: 1;
}

.mini-name-movie {
  background-color: #003cff6b;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  padding: 4px 16px;
  width: 107.5px;
  margin-bottom: 7.5px;
}

/*Responsave*/

@media screen and (min-width: 480px) {
  #synopsis{margin-left: 32px;}
  .divForm{width: 360px;}
  #iframeDiv{width: 360px; height: 420px;}
  .mini-movie-card-container{width: 115px;}
  .mini-name-movie{width: 115px;}
}
@media screen and (min-width: 640px) {
  .divForm{width: 640px;}
  #iframeDiv{width: 640px; height: 480px;}
  .mini-movie-card-container{width: 155px;}
  .mini-name-movie{width: 155px;}
}
@media screen and (min-width: 720px) {
  #iframeDiv{width: 640px; height: 480px;}
  .mini-movie-card-container{width: 139px;}
  .mini-name-movie{width: 139px;}
}
@media screen and (min-width: 1080px) {
  #iframeDiv{width: 640px; height: 480px;}
  .mini-movie-card-container{width: 175px;}
  .mini-name-movie{width: 175px;}
}
@media screen and (min-width: 1280px) {
  #iframeDiv{width: 640px; height: 480px;}
  .mini-movie-card-container{width: 155px;}
  .mini-name-movie{width: 155px;}
}
@media screen and (min-width: 1320px) {
  #iframeDiv{width: 640px; height: 480px;}
  .mini-movie-card-container{width: 128px;}
  .mini-name-movie{width: 128px;}
}
@media screen and (min-width: 1440px) {
  #iframeDiv{width: 640px; height: 480px;}
  .mini-movie-card-container{width: 139.5px;}
  .mini-name-movie{width: 139.5px;}
}
@media screen and (min-width: 1920px) {
  #iframeDiv{width: 640px; height: 480px;}
  .mini-movie-card-container{width: 155,6px;}
  .mini-name-movie{width: 155.6px;}
}
@media screen and (min-width: 2160px) {
  .divForm{width: 700px;}
  #iframeDiv{width: 690px; height: 520px;}
  .mini-movie-card-container{width: 265.5px;}
  .mini-name-movie{width: 265.5px;}
  .mini-image-movie-global{height: 320px}
}
@media screen and (min-width: 3840px) {
  .divForm{width: 768px;}
  #iframeDiv{width: 720px; height: 640px;}
  .mini-movie-card-container{width: 315.5px;}
  .mini-name-movie{width: 315.5px;}
  .mini-image-movie-global{height: 380px}
}