.carousel-inner{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -14.1%;
  margin-bottom: 8px;
}
.d-block{
    border-radius: 8px;
}

/*Responsave Slide*/
@media screen and (max-width: 380px){
  .d-block{width: 160px; height: 80px;}
  .carousel-inner{margin-left: -80px;}
}
@media screen and (min-width: 381px){
  .d-block{width: 190px; height: 110px;}
  .carousel-inner{margin-left: -95px;}
}
@media screen and (min-width: 413px){
  .d-block{display: none}
  .carousel-inner{display: none}
}