.alert {
    padding: 20px;
    background-color: #003cff;
    color: #ffffff;
    width: 22%;
    height:18%;
    margin: 0 auto;
  }
  
  .closebtn {
    margin-left: 15px;
    color: #ffffff;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff00;
    border: none;
  }
  
  .closebtn:hover {
    color: #ff2929;
  }