.alert {
    padding: 20px;
    background-color: #003cff;
    color: #ffffff;
    width: auto;
    height:168px;
    margin: 0 auto;
    z-index: 1;
    position: absolute;
    margin-top: 10%;
    border-radius: 5px;
}
  
.closebtn {
  margin-left: 15px;
  color: #ffffff;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff00;
  border: none;
}
  
.closebtn:hover {
    color: #ff2929;
    cursor: url('https://drive.google.com/uc?export=download&id=1DNqVll2QsSYlZJvuunRljRpgjXhseR4S'), pointer;
  }

/*Mobile viewport*/
@media screen and (min-width: 320px){
  .alert{
    width: 240px;
    height: 168px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 330px){
  .alert{
    margin-left: 45px;
  }
}
@media screen and (min-width: 340px){
  .alert{
    margin-left: 50px;
  }
}
@media screen and (min-width: 350px){
  .alert{
    margin-left: 55px;
  }
}
@media screen and (min-width: 360px){
  .alert{
    margin-left: 60px;
  }
}
@media screen and (min-width: 370px){
  .alert{
    margin-left: 65px;
  }
}
@media screen and (min-width: 380px){
  .alert{
    margin-left: 70px;
  }
}
@media screen and (min-width: 390px){
  .alert{
    margin-left: 75px;
  }
}
@media screen and (min-width: 400px){
  .alert{
    margin-left: 80px;
  }
}
@media screen and (min-width: 412px){
  .alert{
    margin-left: 86px;
  }
}
/*Viewport ENDS*/

/*Response*/
@media screen and (min-width: 480px){
    .alert{
    width: 240px;
    height: 168px;
    margin-top: 15%;
    margin-left: 120px;
    }
}
@media screen and (min-width: 640px){
  .alert{
  width: 220px;
  height: 168px;
  margin-top: 15%;
  margin-left: 210px;
  }
}
@media screen and (min-width: 720px){
  .alert{
  width: 250px;
  height: 138px;
  margin-top: 10%;
  margin-left: 235px;
  }
}
@media screen and (min-width: 768px){
  .alert{
  width: 255px;
  height: 141px;
  margin-left: 256.5px;
  }
}
@media screen and (min-width: 1080px){
  .alert{
  width: 300px;
  height: 146px;
  margin-left: 390px;
  }
}
@media screen and (min-width: 1280px){
  .alert{
  width: 306px;
  height: 146px;
  margin-left: 487px;
  }
}
@media screen and (min-width: 1360px){
  .alert{
  width: 300px;
  height: 140px;
  margin-left: 533px;
  }
}
@media screen and (min-width: 1440px){
  .alert{
  width: 310px;
  height: 145px;
  margin-left: 565px;
  }
}
@media screen and (min-width: 1920px){
  .alert{
  width: 320px;
  height: 147px;
  margin-left: 800px;
  }
}

@media screen and (min-width: 2160px){
  .alert{
  width: 325px;
  height: 143px;
  margin-left: 917.5px;
  }
}
@media screen and (min-width: 3840px){
  .alert{
  width: 330px;
  height: 140px;
  margin-left: 1755px;
  }
}