body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ff0000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#theNavbar{
  height: 64px;
  background-color: #ff2929;
}
#theFormInNavbar{
  display: contents;
}
#gitLogo{
  width: 55px;
  height: 45px;
  margin-left: 15px;
  margin-right: 5px;
}
#input{
  width: 500px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
#input:focus{
  outline: none;
  box-shadow: none;
}
#buttonSearch{
  margin-left: 5px;
  background-color: #003cff;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
#buttonSearch:focus{
  outline: none;
  box-shadow: none;
}
.genreButton{
  background-color: #ffffff00;
  border: #ffffff00;
  color: #ffffff;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: 1s;
}
.genreButton:hover{
  border: none;
  background-color: #003cff;
  border-radius: 30px;
}
#inicioButton{
  background-color: #003cff;
  border: #ffffff00;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 4px;
  transition: 1s;
}
#inicioButton:hover{
  border: none;
  background-color: #ffffff;
  color: #000000;
}
#paginationButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.movie-card-container{
  width: 215px;
  background-color: #ffffff;
  float: left;
  margin-left: 4px;
  border-radius: 8px 8px 8px 8px;
  margin-bottom: 5px;
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
.movie-card-container:hover{
  outline: 0.5px solid #000000;
}
#movieCardName{
  color: #000000;
  margin: 0 auto;
}
.movie-card-3rd-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 200px;
  margin: 0 auto;

}
.image-movie-global{
  margin-left: 0px;
  width: 100%;
  height: 300px;
  border-radius: 8px 8px 0 0;
  transition: width 1s, height 1s;
}
.image-movie-global:hover{
  width: 105%;
  height: 315px;
}
.divAssistirButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: width 1s, height 1s;
}
.divAssistirButton:hover{
  background-color: #ff0000;
}
#assistirButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: #000000;
  width: 50%;
  transition: width 1s, height 1s, color 1s;
  border-radius: 30px;
  background-color: #003cff;
}
#assistirButton:hover{
  width: 95%;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 20px 0px 40px 0px #ffffff;
  border-radius: 2.5px;
}
#nameMovieInForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  color: #000000;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: 1s;
}
.dropbtn:hover{
  background-color: #003cff;
  color: #ffffff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #003cff0e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #000000;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .btn {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content .btn:hover {background-color: none;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #003cff;}

/*Responsave*/
@media screen and (max-width: 3840px) {
  #input{width: 400px;}
  .movie-card-container{width:540px;}
}
@media screen and (max-width: 2160px) {
  #input{width: 360px;}
  .movie-card-container{width:301px;}
}
@media screen and (max-width: 1920px) {
  #input{width: 350px;}
  .movie-card-container{width:209px;}
}
@media screen and (max-width: 1440px) {
  #input{width: 335px;}
  .movie-card-container{width:235px; margin-left: 4px;}
}
@media screen and (max-width: 1366px) {
  #input{width: 330px;}
  .movie-card-container{width:215px; margin-left: 4px;}
}
@media screen and (max-width: 1280px) {
  #input{width: 320px;}
  .movie-card-container{width:208px;}
}
@media screen and (max-width: 1080px) {
  #input{width: 320px;}
  .movie-card-container{width:211px;}
}
@media screen and (max-width: 913px) {
  #input{width: 320px;}
}
@media screen and (max-width: 898px) {
  #input{width: 300px;}
}
@media screen and (max-width: 768px) {
  .movie-card-container{width: 215px; height: auto; margin-bottom: 15px; margin-left: 30px; }
  #input{width: 290px;}
}
@media screen and (max-width: 729px) {
  .movie-card-container{width: 215px; height: auto; margin-bottom: 15px; margin-left: 20px; }
}
@media screen and (max-width: 722px) {
  #input{width: 250px;}
  .movie-card-container{width: 209px; height: auto; margin-bottom: 15px; margin-left: 23px; }
}
@media screen and (max-width: 712px) {
  #input{width: 250px;}
  .movie-card-container{width: 209px; height: auto; margin-bottom: 15px; margin-left: 13px; }
}
@media screen and (max-width: 696px) {
  #input{width: 250px;}
  .movie-card-container{width: 202px; height: auto; margin-bottom: 15px; margin-left: 13px; }
}
@media screen and (max-width: 684px) {
  #input{width: 250px;}
  .movie-card-container{width: 197px; height: auto; margin-bottom: 15px; margin-left: 13px; }
}
@media screen and (max-width: 646px) {
  #input{width: 215px;}
  .movie-card-container{width: 190px; height: auto; margin-bottom: 15px; margin-left: 13px; }
}
@media screen and (max-width: 640px) {
  #input{width: 215px;}
  .movie-card-container{width: 190px; height: auto; margin-bottom: 15px; margin-left: 17px; }
}
@media screen and (max-width: 611px) {
  #input{width: 170px;}
}
@media screen and (max-width: 480px) {
  #gitLogo{margin-left: 3px; margin-right: 0px;}
  #input{width: 122px; margin-left: -11px; padding-left: 6px; padding-right: 6px;}
  #buttonSearch{margin-left: 0px; padding-left: 6px; padding-right: 6px;}
  .dropdown{margin-left: 0px; padding: 0px}
  .dropbtn{padding-left: 2px; padding-right: 2px;}
  #inicioButton{padding-left: 2px; padding-right: 2px; margin-left: 0px; margin-right: 1.5px;}
  .movie-card-container{margin-left: 33px;}
}

/*Responsave font-size*/

@media screen and (min-height: 1280px) {
  #input{font-size: 18px;}
  .dropbtn{font-size: 18px;}
  #inicioButton{font-size: 18px;}
}

@media screen and (min-height: 1440px) {
  #input{font-size: 19px;}
  .dropbtn{font-size: 19px;}
  #inicioButton{font-size: 19px;}
}

@media screen and (min-width: 3840px) and (min-height: 2160px) {
  #input{font-size: 24px;}
  .dropbtn{font-size: 24px;}
  #inicioButton{font-size: 24px;}
}