body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ff0000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#theNavbar{
  height: 64px;
  background-color: #ff2929;
}
#theFormInNavbar{
  display: contents;
}
#gitLogo{
  width: 55px;
  height: 45px;
  margin-left: 15px;
  margin-right: 5px;
}
#input{
  width: 500px;
}
#buttonSearch{
  margin-left: 5px;
  background-color: #003cff;
  border: none;
}
.genreButton{
  background-color: #ffffff00;
  border: #ffffff00;
  color: #ffffff;
  padding-top: 6px;
  padding-bottom: 6px;
}
.genreButton:hover{
  border: none;
}
#inicioButton{
  background-color: #ffffff00;
  border: #ffffff00;
  color: #ffffff;
  padding-top: 6px;
  padding-bottom: 6px;
}
#inicioButton:hover{
  border: none;
}
#paginationButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.movie-card-container{
  width: 215px;
  background-color: #ffffff;
  float: left;
  margin-left: 4px;
  border-radius: 8px 8px 8px 8px;
  margin-bottom: 5px;
}
#movieCardName{
  color: #000000;
  margin: 0 auto;
}
.movie-card-3rd-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 200px;
  margin: 0 auto;

}
.image-movie-global{
  margin-left: 0px;
  width: 100%;
  height: 300px;
  border-radius: 8px 8px 0 0;
}
.image-movie-global:hover{
  width: 105%;
  height: 315px;
}
#assistirButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: #ffffff;
}
#nameMovieInForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ff2929;
  color: #ffffff;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #003cff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .btn {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content .btn:hover {background-color: none;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ff0000;}

/*Responsave*/
@media screen and (max-width: 3840px) {
  #input{width: 400px;}
  .movie-card-container{width:540px;}
}
@media screen and (max-width: 2160px) {
  #input{width: 360px;}
  .movie-card-container{width:301px;}
}
@media screen and (max-width: 1920px) {
  #input{width: 350px;}
  .movie-card-container{width:207px;}
}
@media screen and (max-width: 1366px) {
  #input{width: 330px;}
  .movie-card-container{width:215px; margin-left: 4px;}
}
@media screen and (max-width: 1280px) {
  #input{width: 320px;}
  .movie-card-container{width:208px;}
}
@media screen and (max-width: 1080px) {
  #input{width: 320px;}
  .movie-card-container{width:210px;}
}
@media screen and (max-width: 913px) {
  #input{width: 320px;}
}
@media screen and (max-width: 898px) {
  #input{width: 300px;}
}
@media screen and (max-width: 768px) {
  .movie-card-container{width: 215px; height: auto; margin-bottom: 15px; margin-left: 25px; }
  #input{width: 290px;}
}
@media screen and (max-width: 729px) {
  .movie-card-container{width: 215px; height: auto; margin-bottom: 15px; margin-left: 20px; }
}
@media screen and (max-width: 722px) {
  #input{width: 250px;}
  .movie-card-container{width: 209px; height: auto; margin-bottom: 15px; margin-left: 23px; }
}
@media screen and (max-width: 712px) {
  #input{width: 250px;}
  .movie-card-container{width: 209px; height: auto; margin-bottom: 15px; margin-left: 13px; }
}
@media screen and (max-width: 696px) {
  #input{width: 250px;}
  .movie-card-container{width: 202px; height: auto; margin-bottom: 15px; margin-left: 13px; }
}
@media screen and (max-width: 684px) {
  #input{width: 250px;}
  .movie-card-container{width: 197px; height: auto; margin-bottom: 15px; margin-left: 13px; }
}
@media screen and (max-width: 646px) {
  #input{width: 215px;}
  .movie-card-container{width: 190px; height: auto; margin-bottom: 15px; margin-left: 13px; }
}
@media screen and (max-width: 640px) {
  #input{width: 215px;}
  .movie-card-container{width: 190px; height: auto; margin-bottom: 15px; margin-left: 17px; }
}
@media screen and (max-width: 611px) {
  #input{width: 170px;}
}
@media screen and (max-width: 500px) {
  #input{width: 90px;}
  #gitLogo{margin-right: 0px;}
  #buttonSearch{margin-left: 0px;}
  .movie-card-container{width: 90%; height: auto; margin-bottom: 15px; margin-left: 25px; }
}
