body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ff0000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#theNavbar{
  height: 64px;
  background-color: #ff2929;
}
#theFormInNavbar{
  display: contents;
}
#gitLogo{
  width: 55px;
  height: 45px;
  margin-left: 15px;
  margin-right: 5px;
}
#input{
  width: 500px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: 1s;
}
#input:focus{
  outline: none;
  box-shadow: none;
  background-color: #003cff;
}
#buttonSearch{
  margin-left: 5px;
  background-color: #003cff;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: 1s;
}
#buttonSearch:hover{
  background-color: #ffffff;
}
#buttonSearch:hover .bi-search{
  fill: #000000;
}
#buttonSearch:focus{
  outline: none;
  box-shadow: none;
}
.bi-search{
  transition: 1s;
}
.genreButton{
  background-color: #ffffff00;
  border: #ffffff00;
  color: #ffffff;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: 1s;
}
.genreButton:hover{
  border: none;
  background-color: #003cff;
  border-radius: 30px;
}
#inicioButton{
  background-color: #003cff;
  border: #ffffff00;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 4px;
  transition: 1s;
}
#inicioButton:hover{
  border: none;
  background-color: #ffffff;
  color: #000000;
}
#paginationButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.movie-card-container{
  width: 215px;
  height: 423px;
  background-color: #ffffff;
  float: left;
  margin-left: 4px;
  border-radius: 8px 8px 8px 8px;
  margin-bottom: 4px;
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
.movie-card-container:hover{
  outline: 0.5px solid #000000;
  background-color: #003cff0e;
  box-shadow: 0px 8px 16px 0px #000000;
}
.movie-card-container:hover .image-movie-global{
  width: 95%;
  max-height: 289.25px;
  margin-top: 5.375px;
  margin-bottom: 5.375px;
  margin-left: 5.375px;
}
#movieCardName{
  color: #000000;
  margin: 0 auto;
  font-family: 'Bebas Neue';
}
.movie-card-3rd-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 200px;
  margin: 0 auto;

}
.image-movie-global{
  margin-left: 0px;
  width: 100%;
  height: 300px;
  border-radius: 8px 8px 0 0;
}
.divAssistirButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: width 1s, height 1s;
}
.divAssistirButton:hover{
  background-color: #003cff0e;
}
.divAssistirButton:hover #assistirButton{
  width: 95%;
  border-radius: 2.5px;
}
#assistirButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: #000000;
  width: 50%;
  transition: width 1s, height 1s, color 1s;
  border-radius: 30px;
  background-color: #003cff;
}
#assistirButton:hover{
  width: 95%;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 20px 0px 40px 0px #ffffff;
  border-radius: 2.5px;
}
#nameMovieInForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  color: #000000;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: 1s;
}
.dropbtn:hover{
  background-color: #003cff;
  color: #ffffff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #003cff0e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #000000;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .btn {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content .btn:hover {background-color: none;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #003cff;}

/*Responsave*/
@media screen and (max-width: 3840px) {
  #input{width: 400px;}
  .movie-card-container{width:540px;}
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 274.8px;
    margin-top: 12.6px;
    margin-bottom: 12.6px;
    margin-left: 12.6px;
  }
}
@media screen and (max-width: 2160px) {
  #input{width: 360px;}
  .movie-card-container{width:301px;}
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 285.95px;
    margin-top: 7.525px;
    margin-bottom: 7.525px;
    margin-left: 7.525px;
  }
}
@media screen and (max-width: 1920px) {
  #input{width: 350px;}
  .movie-card-container{width:209px;}
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 289.55px;
    margin-top: 5.225px;
    margin-bottom: 5.225px;
    margin-left: 5.225px;
  }
  
}
@media screen and (max-width: 1440px) {
  #input{width: 335px;}
  .movie-card-container{width:235px; margin-bottom: 4px; margin-left: 4px;}
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 288.25px;
    margin-top: 5.875px;
    margin-bottom: 5.875px;
    margin-left: 5.875px;
  }
}
@media screen and (max-width: 1366px) {
  #input{width: 330px;}
  .movie-card-container{width:215px; margin-bottom: 4px; margin-left: 4px;}
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 289.25px;
    margin-top: 5.375px;
    margin-bottom: 5.375px;
    margin-left: 5.375px;
  }
}
@media screen and (max-width: 1280px) {
  #input{width: 320px;}
  .movie-card-container{width:208.5px;}
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 289.6px;
    margin-top: 5.375px;
    margin-bottom: 5.375px;
    margin-left: 5.2px;
  }
}
@media screen and (max-width: 1080px) {
  #input{width: 320px;}
  .movie-card-container{width:211px;}
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 289.6px;
    margin-top: 5.2px;
    margin-bottom: 5.2px;
    margin-left: 5.2px;
  }
}
@media screen and (max-width: 913px) {
  #input{width: 320px;}
}
@media screen and (max-width: 898px) {
  #input{width: 300px;}
}
@media screen and (max-width: 768px) {
  #input{width: 290px;}
  .movie-card-container{width: 215px; margin-bottom: 30px; margin-left: 30px; }
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 289.25px;
    margin-top: 5.375px;
    margin-bottom: 5.375px;
    margin-left: 5.375px;
  }
}
@media screen and (max-width: 729px) {
  .movie-card-container{width: 215px; margin-bottom: 20px; margin-left: 20px; }
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 289.25px;
    margin-top: 5.375px;
    margin-bottom: 5.375px;
    margin-left: 5.375px;
  }
}
@media screen and (max-width: 722px) {
  #input{width: 250px;}
  .movie-card-container{width: 209px; margin-bottom: 23px; margin-left: 23px; }
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 289.55px;
    margin-top: 5.225px;
    margin-bottom: 5.225px;
    margin-left: 5.225px;
  }
}
@media screen and (max-width: 712px) {
  #input{width: 250px;}
  .movie-card-container{width: 209px; margin-bottom: 21px; margin-left: 21px; }
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 289.55px;
    margin-top: 5.225px;
    margin-bottom: 5.225px;
    margin-left: 5.225px;
  }
}
@media screen and (max-width: 696px) {
  #input{width: 250px;}
  .movie-card-container{width: 202px; margin-bottom: 22px; margin-left: 22px; }
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 291.9px;
    margin-top: 4.05px;
    margin-bottom: 4.05px;
    margin-left: 4.05px;
  }
}
@media screen and (max-width: 684px) {
  #input{width: 250px;}
  .movie-card-container{width: 197px; margin-bottom: 23px; margin-left: 23px; }
}
@media screen and (max-width: 646px) {
  #input{width: 215px;}
  .movie-card-container{width: 190px; margin-bottom: 19px; margin-left: 19px; }
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 290.5px;
    margin-top: 4.75px;
    margin-bottom: 4.75px;
    margin-left: 4.75px;
  }
}
@media screen and (max-width: 640px) {
  #input{width: 215px;}
  .movie-card-container{width: 195px; margin-bottom: 13.5px; margin-left: 13.5px; }
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 290.25px;
    margin-top: 4.875px;
    margin-bottom: 4.875px;
    margin-left: 4.875px;
  }
}
@media screen and (max-width: 611px) {
  #input{width: 170px;}
}
@media screen and (max-width: 576px){
  .movie-card-container{width: 261px; margin-bottom: 18px; margin-left: 18px; }
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 286.95px;
    margin-top: 6.525px;
    margin-bottom: 6.525px;
    margin-left: 6.525px;
  }
}
@media screen and (max-width: 490px) {
  #gitLogo{margin-left: 3px; margin-right: 0px;}
  #input{width: 125px; margin-left: -11px; padding-left: 6px; padding-right: 6px;}
  #buttonSearch{margin-left: 0px; padding-left: 6px; padding-right: 6px;}
  .dropdown{margin-left: 0px; padding: 0px}
  .dropbtn{padding-left: 2px; padding-right: 2px;}
  #inicioButton{padding-left: 2px; padding-right: 2px; margin-left: 0px; margin-right: 1.5px;}
  .movie-card-container{width: 210px; margin-bottom: 20px; margin-left: 20px; }
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 289.5px;
    margin-top: 5.25px;
    margin-bottom: 5.25px;
    margin-left: 5.25px;
  }
}
/*Mobile view port*/
@media screen and (max-width: 400px) {
  #gitLogo{width: 43px; height: 38px;}
  .movie-card-container{width: 125px; height: 258px;margin-left: 4px; margin-bottom: 4px;}
  .image-movie-global{height: 135px}
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 128.75px;
    margin-top: 3.125px;
    margin-bottom: 3.125px;
    margin-left: 3.125px;
  }
  .movie-card-3rd-container{width: 125px;}
}

@media screen and (max-width: 380px){
  .movie-card-container{width: 110px; height: 258px;margin-left: 12.5px; margin-bottom: 12.5px;}
  .image-movie-global{height: 135px}
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 129.5px;
    margin-top: 2.75px;
    margin-bottom: 2.75px;
    margin-left: 2.75px;
  }
  .movie-card-3rd-container{width: 110px;}
  #assistirButton{font-size: 14px;}
}

@media screen and (max-width: 370px) {
  #gitLogo{width: 35px; height: 30px;}
  .movie-card-container{width: 110px; height: 258px;margin-left: 10px; margin-bottom: 10px;}
  .image-movie-global{height: 135px}
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 129.5px;
    margin-top: 2.75px;
    margin-bottom: 2.75px;
    margin-left: 2.75px;
  }
}
@media screen and (max-width: 360px){
  #gitLogo{width: 32px; height: 27px;}
  .movie-card-container{width: 110px; height: 258px;margin-left: 7.5px; margin-bottom: 7.5px;}
  .image-movie-global{height: 135px}
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 129.5px;
    margin-top: 2.75px;
    margin-bottom: 2.75px;
    margin-left: 2.75px;
  }
}
@media screen and (max-width: 350px){
  .movie-card-container{width: 110px; height: 258px;margin-left: 5px; margin-bottom: 5px;}
  .image-movie-global{height: 135px}
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 129.5px;
    margin-top: 2.75px;
    margin-bottom: 2.75px;
    margin-left: 2.75px;
  }
}
@media screen and (max-width: 340px){
  .movie-card-container{width: 110px; height: 258px;margin-left: 2.5px; margin-bottom: 2.5px;}
  .image-movie-global{height: 135px}
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 129.5px;
    margin-top: 2.75px;
    margin-bottom: 2.75px;
    margin-left: 2.75px;
  }
}
@media screen and (max-width: 330px){
  .movie-card-container{width: 105px; height: 258px;margin-left: 3.5px; margin-bottom: 3.5px;}
  .image-movie-global{height: 130px}
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 124.75px;
    margin-top: 2.625px;
    margin-bottom: 2.625px;
    margin-left: 2.625px;
  }
}
@media screen and (max-width: 320px){
  .movie-card-container{width: 105px; height: 258px;margin-left: 1.25px; margin-bottom: 1.25px;}
  .image-movie-global{height: 130px}
  .movie-card-container:hover .image-movie-global{
    width: 95%;
    max-height: 124.75px;
    margin-top: 2.625px;
    margin-bottom: 2.625px;
    margin-left: 2.625px;
  }
}
/*Mobile view port END*/

/*Responsave font-size*/

@media screen and (max-width: 400px){
  #input{font-size: 13px;}
  .dropbtn{font-size: 13px;}
  #inicioButton{font-size: 13px;}
  #movieCardName{font-size: 14px;}
}
@media screen and (max-width: 350px){
  #input{font-size: 11px;}
  .dropbtn{font-size: 11px;}
  #inicioButton{font-size: 11px;}
  #movieCardName{font-size: 14px;}
}
@media screen and (min-height: 1280px) {
  #input{font-size: 18px;}
  .dropbtn{font-size: 18px;}
  #inicioButton{font-size: 18px;}
}

@media screen and (min-height: 1440px) {
  #input{font-size: 19px;}
  .dropbtn{font-size: 19px;}
  #inicioButton{font-size: 19px;}
}

@media screen and (min-width: 3840px) and (min-height: 2160px) {
  #input{font-size: 24px;}
  .dropbtn{font-size: 24px;}
  #inicioButton{font-size: 24px;}
}